# ===== Python =====
.env
.venv
**/__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
*.egg

# ===== Node.js =====
frontend/node_modules/
frontend/dist/

# ===== IDE =====
.idea/
.vscode/
*.swp
*.swo

# ===== Project =====
data/
test/
logs/
*.log

# ===== OS =====
.DS_Store
Thumbs.db
desktop.ini
